<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.SIT305Assignment2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.example.user.SIT305Assignment2.StartGame" android:launchMode="standard" >

            </activity>

        <activity android:name="com.example.user.SIT305Assignment2.ScoreListActivity"
        ></activity>
        <activity android:name="com.example.user.SIT305Assignment2.HelpActivity"
            ></activity>
        <activity android:name="com.example.user.SIT305Assignment2.CarSells" android:launchMode="standard"
            ></activity>
        <activity android:name="com.example.user.SIT305Assignment2.AboutActivity" android:launchMode="standard"
            ></activity>
        <activity android:name="com.example.user.SIT305Assignment2.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>